<div class="container">
    <div class="row">

        <div class=" col-md-6 col-sm-12">
            <div class="row">
                <div class="calhistory col">
                    <span style="float: right;">{{history}}</span>
                </div>
            </div>
            <div class="row">
                <div class=" current col">
                    <span style="float: right;">{{(currentEntered)? currentEntered : '0'}}</span>
                </div>
            </div>
            <div class="row" style="border: 2px solid #e5e5e5">

                <div class="col">
                    <div class="row">
                        <div class="calbutton col" (click)="onNumberClick('7')">7</div>
                        <div class="calbutton col" (click)="onNumberClick('8')"><span>8</span></div>
                        <div class="calbutton col" (click)="onNumberClick('9')"><span>9</span></div>
                        <div class="calbutton col" (click)="onOperatorClick('*')"><span>x</span></div>
                    </div>
                    <div class="row">
                        <div class="calbutton col" (click)="onNumberClick('4')"><span>4</span></div>
                        <div class="calbutton col" (click)="onNumberClick('5')"><span>5</span></div>
                        <div class="calbutton col" (click)="onNumberClick('6')"><span>6</span></div>
                        <div class="calbutton col" (click)="onOperatorClick('-')"><span>-</span></div>
                    </div>
                    <div class="row">
                        <div class="calbutton col" (click)="onNumberClick('1')"><span>1</span></div>
                        <div class="calbutton col" (click)="onNumberClick('2')"><span>2</span></div>
                        <div class="calbutton col" (click)="onNumberClick('3')"><span>3</span></div>
                        <div class="calbutton col" (click)="onOperatorClick('+')"><span>+</span></div>
                    </div>
                    <div class="row">
                        <div class="calbutton col" (click)="onOperatorClick('/')"><span>/</span></div>
                        <div class="calbutton col" (click)="onNumberClick('0')"><span>0</span></div>
                        <div class="calbutton col" (click)="onNumberClick('.')"><span>.</span></div>
                        <div class="calbutton col" (click)="onOperatorClick('=')"><span>=</span></div>
                    </div>
                    <div class="row">
                        <div class="calbutton col" (click)="reset()">C</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>